; Godot export presets for Candorse.
; Bundle IDs set here so a fresh clone doesn't need to be reconfigured
; before it can export a real .apk / .ipa.

[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="builds/candorse.apk"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

package/unique_name="com.trinityman.candorse"
package/name="Candorse"
package/signed=true
gradle_build/use_gradle_build=true
version/code=1
version/name="0.1.0"
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true

[preset.1]

name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="builds/candorse.ipa"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.1.options]

application/bundle_identifier="com.trinityman.candorse"
application/app_store_team_id=""
application/short_version="0.1.0"
application/version="1"
capabilities/access_wifi=true
orientation/portrait=true
orientation/landscape_left=false
orientation/landscape_right=false
